.buy__button {
  display: block;
  text-align: center;

  line-height: 16px;
  padding: 11px 16px;

  font-weight: 700;
  font-size: 14px;
  color: #fff;

  text-decoration: none;
  text-transform: uppercase;

  background-color: $link-color-hover;
  border: 1px solid $link-color-hover;
  border-radius: 5px;

  transition: background 1s;

  &:hover {
    color: $link-color-hover;
    background: #fff;
    
    
  }
}
