.header {
  display: grid;
  grid-template-areas: "MOYO logo";
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
  padding: 0 50px;
  
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.31);

  &__logo {
    display: block;
    width: $logo-size;
    height: $logo-size;
  }

}

.is-active {
  position: relative;
  color: $link-color-hover;

  &::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 4px;
    border-radius: 8px;
    
    background: $link-color-hover;
    bottom: 0;
  }
}
