.price {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-content: end;
  align-items: baseline;
  margin-bottom: 21px;

  &__amount {
    display: grid;
    font-weight: 700;
    font-style: inherit;
    font-size: 16px;
  }

  &__title {
    font-weight: 400;
    font-style: inherit;
    font-size: 11px;
    line-height: 1.18em;
  }
}
